/**
 * This CSS rule targets the selection of text within the document.
 * It changes the background color of the selected text to a light blue
 * and the text color to white, providing a clear visual indication of
 * the selected text.
 *
 * Properties:
 * - background: Sets the background color of the selected text.
 * - color: Sets the text color of the selected text.
 */
.custom-body {
    background: rgba(255, 255, 255, 0.3) url('_media/wave.png') no-repeat fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light; /* 或者使用其他混合模式 */
}

.sidebar {
    /* background: rgba(255, 255, 255, 0.25) url('_media/sand2.jpg') no-repeat center; */
    background: rgba(255, 255, 255, 0.25);
    background-blend-mode: lighten;
}